<div class="about__wrapper">
  <div class="about">
    <div class="about__image">
      <img src="assets/imgs/about01.png" class="about__image" />
    </div>
    <div class="about__description">
      <div class="about__description-title">
        На что влияет озеленение Почему важно озеленять пространства?
      </div>
      <div class="about__description-cards">
        <div class="description__card-item">
          <div class="card__item-img">
            <img src="assets/icons/about01.png" />
          </div>
          <div class="card__item-description">
            <div class="item__description-title">продуктивность</div>
            <div class="item__description-subtitle">
              Доказано , что растения повышают продуктивность работы сотрудников
            </div>
          </div>
        </div>
        <div class="description__card-item">
          <div class="card__item-img">
            <img src="assets/icons/about02.png" />
          </div>
          <div class="card__item-description">
            <div class="item__description-title">КЛИЕНТЫ</div>
            <div class="item__description-subtitle">
              Растения могут привлечь перспективные кадры и новых клиентов
            </div>
          </div>
        </div>
        <div class="description__card-item">
          <div class="card__item-img">
            <img src="assets/icons/about03.png" />
          </div>
          <div class="card__item-description">
            <div class="item__description-title">СТРЕСС</div>
            <div class="item__description-subtitle">
              Растения помогают справляться со стрессом
            </div>
          </div>
        </div>
        <div class="description__card-item">
          <div class="card__item-img">
            <img src="assets/icons/about04.png" />
          </div>
          <div class="card__item-description">
            <div class="item__description-title">ПОТЕНЦИАЛ</div>
            <div class="item__description-subtitle">
              Растения влияют на творческий потенциал
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
