.hero {
  padding-bottom: 100px;
  padding-top: 180px;
  margin-top: -100px;
  margin-bottom: 50px;
}
.hero__wrapper {
  background-image: url(../../../../../assets/imgs/herobg.png);
  background-size: cover;
  @media screen and (max-width: 428px) {
    background-position: center;
  }
}
.hero__section-1 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: space-between;
  margin-right: auto;
  margin-bottom: 75px;
  align-items: center;
  & .hero__section-subtitle {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 550px;
    /* or 120% */

    text-transform: uppercase;

    color: rgba(214, 209, 202, 0.7);
    @media screen and (max-width: 428px) {
      font-size: 22px;
      justify-content: center;
      text-align: center;
    }
  }
  @media screen and (max-width: 428px) {
    font-size: 84px;
    justify-content: center;
    margin-bottom: 55px;
  }
}
.hero__section-2 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 75px;
  @media screen and (max-width: 428px) {
    font-size: 44px;
    justify-content: center;
    margin-bottom: 55px;
  }
}
.hero__section-3 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  padding-bottom: 120px;
  @media screen and (max-width: 428px) {
    font-size: 64px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 55px;
  }
}
.hero__spinner-scroll {
  position: relative;
  margin-right: 30px;
  width: 127px;
  height: 127px;
  & .spinner {
    position: relative;
    animation-name: spin;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  & .spinner__arrow {
    position: relative;
    left: 14%;
    top: -150%;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.highlights {
  color: #2bdd8b;
}
