.hero {
  margin-bottom: 100px;
  padding-top: 130px;
  margin-top: -100px;
}
.hero__wrapper {
  background-image: url(../../../../../assets/imgs/herobg.png);
  background-size: cover;
}
.hero__section-1 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: flex-start;
  margin-right: auto;
  margin-bottom: 75px;
  align-items: center;
}
.hero__section-2 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 75px;
}
.hero__section-3 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
  /* identical to box height, or 135% */

  text-transform: uppercase;

  color: #f2ebd8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1336px;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  padding-bottom: 120px;
}
.hero__spinner-scroll {
  position: relative;
  margin-right: 30px;
  width: 127px;
  height: 127px;
  & .spinner {
    position: relative;
    animation-name: spin;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  & .spinner__arrow {
    position: relative;
    left: 14%;
    top: -150%;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
