.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  padding: 10px;
  & .header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    & li {
      margin-right: 25px;
      & a {
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height, or 100% */

        color: #f5f5f5;
        transition: all 0.2s ease-in-out;
        &:hover {
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          color: #2bdd8b;
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
