<div class="service__wrapper">
  <div class="service__title">
    <h2>услуги по озеленению</h2>
  </div>
  <div class="service">
    <swiper [config]="config" class="mySwiper">
      <ng-container *ngFor="let service of services">
        <ng-template swiperSlide
          ><div class="service__item">
            <div class="service__item-image">
              <img src="{{ service.image }}" />
            </div>
            <div class="service__item-title">
              {{ service.title | uppercase }}
            </div>
          </div></ng-template
        >
      </ng-container>
    </swiper>
  </div>
</div>
