@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/pagination";
:host ::ng-deep {
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 30% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service {
  display: flex;
  flex-direction: row;
  width: 100%;
  & .service__item {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgba(111, 119, 111, 0.44);
    border-radius: 3px;
    & .service__item-title {
      margin-top: 15px;
      margin-bottom: 25px;
      font-family: "Source Sans 3";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */

      color: #f2ebd8;
    }
  }
}
