@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/pagination";
:host ::ng-deep {
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 340px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
:host::ng-deep {
  @import "swiper/scss";
  @import "swiper/scss/navigation";
  @import "swiper/scss/pagination";
  .swiper-button-prev:after {
    content: "🠐";
    font-size: 24px;
    color: #282828;
  }
  .swiper-button-next:after {
    content: "🠒";
    font-size: 24px;
    color: #282828;
  }
  .swiper {
  }
}
.service__title {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  /* or 100% */

  text-transform: uppercase;

  color: #f2ebd8;
  @media screen and (max-width: 428px) {
    text-align: center;
    font-size: 32px;
  }
}
.service {
  display: flex;
  flex-direction: row;
  width: 100%;
  & .service__item {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgba(111, 119, 111, 0.44);
    border-radius: 3px;
    min-height: 320px;
    min-width: 340px;
    max-width: 620px;
    & .service__item-title {
      margin-top: 15px;
      margin-bottom: 25px;
      font-family: "Source Sans 3";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */

      color: #f2ebd8;
    }
    & .service__item-image {
      width: 100%;
      max-width: 100%;
      & img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
