<div class="price__wrapper">
  <div class="price__title">наш <span class="cursive">прайслист</span></div>
  <div class="price">
    <div class="price__item" *ngFor="let price of prices">
      <div class="price__item-title">
        <div class="item__title-item">{{ price.title | uppercase }}</div>
        <div class="item__title-price">{{ price.price | uppercase }}</div>
      </div>
      <div class="price__item-description">
        {{ price.description | uppercase }}
      </div>
    </div>
  </div>
</div>
