<div class="process__wrapper">
  <div class="process__title">как мы работаем?</div>
  <div class="process">
    <div class="process__card">
      <div class="process__card-title">
        <img src="assets/icons/process01.png" />
        Выезд специалиста
      </div>
      <div class="process__card-description">
        Наш специалист приезжает на ваш объект, ознакамливается с условиями,
        делает фото, показывает вам каталог растений и аксессуаров, выслушивает
        ваши пожелания.
      </div>
    </div>
    <div class="process__card">
      <div class="process__card-title">
        <img src="assets/icons/process02.png" />
        дизайн проект
      </div>
      <div class="process__card-description">
        Дизайнеры подготавливают для вас коммерческое предложение, в котором
        содержится визуализация дизайна, план расстановки и стоимость проекта.
      </div>
    </div>
    <div class="process__card">
      <div class="process__card-title">
        <img src="assets/icons/process03.png" />
        старт работ
      </div>
      <div class="process__card-description">
        заключаем договор, проводим оплату. отбор и закупка растений в лучших
        питомниках. высаживаем их в кашпо и доставляем на объект. Расставляем
        все растения и декор согласно оговоренному плану.
      </div>
    </div>
    <div class="process__card">
      <div class="process__card-title">
        <img src="assets/icons/process04.png" />
        сервис
      </div>
      <div class="process__card-description">
        поддерживаем вашу экосистему в надлежащем виде. цветы польем.землю
        поменяем.
      </div>
    </div>
  </div>
</div>
