<div class="projects__wrapper">
  <div class="projects">
    <div class="accordion__module">
      <app-project-item title="СКАНЕКС">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [freeMode]="true"
          [pagination]="{
            clickable: true
          }"
          class="mySwiper"
        >
          <ng-template swiperSlide
            ><img
              src="assets/projects/projects01-1.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="assets/projects/projects01-2.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide>Slide 3</ng-template>
        </swiper>
      </app-project-item>
      <app-project-item title="СКАНЕКС">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [freeMode]="true"
          [pagination]="{
            clickable: true
          }"
          class="mySwiper"
        >
          <ng-template swiperSlide
            ><img
              src="assets/projects/projects02-1.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="assets/projects/projects02-2.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide>Slide 3</ng-template>
        </swiper>
      </app-project-item>
      <app-project-item title="СКАНЕКС">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [freeMode]="true"
          [pagination]="{
            clickable: true
          }"
          class="mySwiper"
        >
          <ng-template swiperSlide
            ><img
              src="assets/projects/projects03-1.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="assets/projects/projects03-2.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide>Slide 3</ng-template>
        </swiper>
      </app-project-item>
      <app-project-item title="СКАНЕКС">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [freeMode]="true"
          [pagination]="{
            clickable: true
          }"
          class="mySwiper"
        >
          <ng-template swiperSlide
            ><img
              src="assets/projects/projects04-1.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="assets/projects/projects04-2.png"
              class="projects__image" /></ng-template
          ><ng-template swiperSlide>Slide 3</ng-template>
        </swiper>
      </app-project-item>
    </div>
  </div>
</div>
