<div class="projects__title">НАШИ РАБОТЫ</div>
<div class="projects__wrapper">
  <div class="projects">
    <div class="accordion__module" *ngFor="let project of projects">
      <app-project-item title="{{ project.name }}">
        <swiper [config]="config" class="mySwiper">
          <ng-container *ngFor="let slide of project.photos">
            <ng-template swiperSlide
              ><img src="{{ slide.image }}" class="projects__image"
            /></ng-template>
          </ng-container>
        </swiper>
      </app-project-item>
    </div>
  </div>
</div>
