.acc-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0px;
}

.header__title {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 104px;
  /* identical to box height, or 121% */

  text-transform: uppercase;

  color: #f2ebd8;
  @media (max-width: 768px) {
    font-size: 64px;
  }
}

.body {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 15px;
  color: #282828;
  padding-bottom: 30px;
}

.accordion__icon {
  margin-left: 10px;
}
